@font-face {
  font-family: banner_font;
  src: url(ComforterBrush-Regular.ttf);
}
body {
    background-image: url('background.png');
}
.banner {
  height: 70px;
  width: 1205px;
  background: rgba(118, 146, 255, .70);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.banner h1 {
  font-family: banner_font;
  font-size: 40px;
  margin: 0;
  position: absolute;
  left: 10px;
  bottom: 0;
  line-height: 1;
}
.banner button{
    background: rgba(171, 210, 250);
}


